@import url('./footer-tokens.css');

footer {
  background-color: var(--brand-dark, rgb(40, 43, 62));
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 100%;
  padding: 0;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 0;
  }
}
